.head{
    display: flex; 
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding:11px 200px;
    max-width: 1120px;
    margin-inline: auto;
    min-width: 300px;
}
.contentsize{max-width: 988px; aspect-ratio: 988 / 444; margin-inline: auto; background-color: #fcfcfc; display: grid; grid-template-columns: repeat(3 , 1fr);}
.contentsize:not(:nth-child(2)){justify-content: flex-end;}
.cont-img{width: 579px; height: 100%;}
.head .panda{display: flex; align-items: center; font-size: 26px; font-weight: 700; flex: 1; }
.head .panda .face{width: 40px; aspect-ratio: 1; margin-right: 10px;}
.head .login{padding: 11px 42px; background-color: #3692ff; color: #ffffff; font-size: 16px; font-weight: 600; line-height: 26px; border-radius: 12px;}

.section{background-color: #cfe5ff; padding-top: 200px;}
.flexwrap{max-width: 1110px; margin: 0 auto; display: flex;}
.flexwrap .wrap{display: flex; flex-direction: column;padding-block: 40px; gap: 30px;}
.flexwrap .wrap p{font-size: 37px; font-weight: 700;max-width: 295px; line-height: 56px;}
.flexwrap .wrap a{padding: 20px 132.56px; background-color: #3692ff; border-radius: 50px;}
.backimg{background: url(../img/Img_home_top.png) no-repeat center / cover; width: 746px; aspect-ratio: 746 / 340;}

.intro .padding-box{padding-block: 138px;}
.intro .contentsize .hot{background: url(../img/Frame\ 2608833.png) no-repeat center / cover; grid-column: 2;}
.intro .contentsize .search{background: url(../img/Img_home_02.png) no-repeat center / cover; }
.intro .contentsize .register{background: url(../img/Group\ 33682.png) no-repeat center / cover; }
.cont-wrap{display: flex; width: 313px; height: 238px; margin: 103px 50px 103px 30px; flex-direction: column; gap: 18px;}
.cont-search{text-align: end;}
.grid{grid-column: 3;}

footer .foot{background-color: #cfe5ff; padding-top: 143px;}
footer .foot-wrap{display: flex; align-items: center; max-width: 1110px; margin-inline: auto; gap: 51px;}
footer .foot .foot-wrap .foot-img{background: url(../img/Img_home_bottom.png); width: 746px; aspect-ratio: 746 / 397;}
footer .foot .foot-wrap p{width: 313px;}
footer .foot-bg{background-color: #111827; padding-block: 30px 110px;}
footer .foot-bg .foot-copyright{display: flex; justify-content: space-between; max-width: 1120px; margin-inline: auto; height: 20px; }
footer .foot-copyright .copyright:nth-child(2) a:nth-child(1){margin-right: 23.24px;}
footer .foot-copyright .ikon{display: flex; gap: 12px;}
footer .foot-copyright .ikon li a{ display: inline-block; width: 20px; aspect-ratio: 1;}
footer .foot-copyright .ikon li:nth-child(1) a{background: url(../img/facebook.png)no-repeat center / cover;}
footer .foot-copyright .ikon li:nth-child(2) a{background: url(../img/twitter.png)no-repeat center / cover;}
footer .foot-copyright .ikon li:nth-child(3) a{background: url(../img/youtube.png)no-repeat center / cover;}
footer .foot-copyright .ikon li:nth-child(4) a{background: url(../img/instagram.png)no-repeat center / cover;}
